@import 'root.css';

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
    font-size: medium;
    font-weight: 400;
}

a{
    font-size: 15px;
    text-decoration: none;
    color: var(--text-color) !important;
}

ul li{
    list-style: none;
}

#dashboard{
    font-size: xx-large;
    font-weight: 700;
    color: var(--text-color);
    padding: 1% 2%;
}

.grid{
    display: grid;
    grid-template-columns: [sidebar] 1fr [containn] 4fr;
}

.sidebar{
    display: grid;
    grid-template-rows: auto 1fr 20%;
    background: var(--green);
    width: 100%;
    height: 100vh;

}

.dashboardgrid{
    background: var(--body-bg-color);
    width: 100%;
}

.sidebarheader{
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-between;
    padding: 2% 5%;
}

.logo{
    width: 75px;
    height: auto;
    padding: 4px 4px;
}

.logo:hover{
    background-color: var(--body-bg-color);
    padding: 4px 4px;
    transition: ease .1s;
    border-radius: 4px;
}

.menudropdown, .sidesvg, .logOut{
    width: 30px;
    height: auto;
}

.menudropdown:hover, .logOut:hover{
    transform: scale(1.1);
    transition: ease-in .1s;
}

.sidecolumn{
    display: flex;
    flex-flow: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 20px;
}

.sidelist{
    width: 100%;
}

.hover:hover{
    background-color: var(--body-bg-color);
    transition: ease-in .1s;
}

.sideabas{
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    gap: 15px;
    padding: 12px 10px;
}

.sidesgv{
    width: 50px;
    height: auto;
}

.sidesearch{
    padding: 8px;
    width: 100%;
}

.sidebuscar{
    position: relative;
    outline: none;
    border: none;
    width: 100%;
    height: 30px;
    padding: 1% 1%;
    color: var(--text-green);
    border-radius: 6px;
    background-color: var(--body-bg-color);
}

.sideloginOut{
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    background-color: var(--light-green);
    width: 100%;
    padding: 25px 10px;
}

.loginphoto{
    width: 50px;
    height: 100%;
    border-radius: 5px;
}

.loginname{
    line-height: 10px;
}

/* Buscar */
.sidebuscar::after{
    display: block;
    position: absolute;
    content: "";
    background-image: url('../images/images/search.svg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    background-attachment: local;
    width: 30px;
    height: auto;
    padding: 8px 8px;
}

@media(max-width: 1024px){
    .loginname{
        line-height: 16px;
    }
}